#container {
  width: 100%;
  height: 100vh;
}

#buttons {
  margin: 10px;
  padding: 10px;
}

#display {
  margin: 10px;
}

#container span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 145px;
  border-radius: 50%;
  background-color: ;
  font-size: 3em;
}

.rtl {
  direction: rtl;
  text-align: right;
}
